@media  screen and (max-width: 700px) {
    .movie-item{
        padding-inline: 2rem;
    }
    .movie-item-btn-container{
        flex-direction: column;
    }
    .movie-item-title{
        font-size: 2.4rem;
    }
    .movie-item-description{
        width: 90%;
    }
    .movie-item-poster{
        display: none;
    }
    .movie-item-about-container{
        display: block;
    }
    .movie-item-btn-container button{
        width: 90%;
    }
}
@media screen and (min-width: 701px) and (max-width: 1100px) {
    .movie-item-btn-container{
        flex-direction: column;
    }
    .movie-item-title{
        font-size: 3.8rem;
        text-align: center;
    }
    .movie-item{
        padding-inline: 4rem;
    }
    .movie-item-about-container{
       flex-direction: column-reverse;
    }
    .movie-item-poster{
        width: 350px;
    }
    .movie-item-description{
        width: 96%;
    }
    .swiper-slide{
        height: 100%;
    }
}