.movie-item{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 5rem 9rem;
    position: relative;
    height: 100%;
}

.movie-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0.5));
}

.movie-item-poster{
    width: 490px;
    height: 100%;
}

.movie-item .movie-item-poster img{
    border-radius: 1rem;
    width: 100%;
    height: auto;
    transform: scale(0);
    transition-delay: 2s;
    transition: transform 0.5s ease-in;
}
.movie-item-about-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
    position: relative;
    z-index: 4;
}
.movie-item-about-container :where(.movie-item-title, .movie-item-description){
    color: white;
    font-weight: bolder;
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.movie-item-description{
    width: 55%;
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 2rem;
    transition-delay: 0.6s, 0.6s;
}
.movie-item-title{
    font-size: 5rem;
    margin-bottom: 2rem;
    line-height: 1.4;
    transition-delay: 0.3s, 0.3s;
}
.movie-item-btn-container{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.movie-item-btn-container :where(.watch-now-btn, .watch-trailer-btn){
    width: 300px;
    border: none;
    padding: 0.6rem 0.8rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
    color: white;
    opacity: 0;
    transform: translateY(-100px);
    transition-delay: 0.9s, 0.9s;
    transition: 0.5s ease-in all;
}
.watch-now-btn{
    background-color: red;
    box-shadow: 0px 0px 7px 8px #ff00004d;
}
.movie-item.active .watch-now-btn:hover{
    opacity: 0.8;
    transform: scale(1.050);
}
.movie-item.active .watch-now-btn:active,
.movie-item.active .watch-trailer-btn:active{
    opacity: 0.7;
}
.watch-trailer-btn{
    background-color: transparent;
    border: 3px solid white;
    position: relative;
}
.watch-trailer-btn::before{
    transition: 0.3s ease-in all;
    position: absolute;
    content: "";
    z-index: -2;
    top: 0;
    left: 0;
    border-radius: 0.8rem;
    background-color: white;
    height: 100%;
    width: 0%;
}
.watch-trailer-btn:hover::before{
    width: 100%;
}
.movie-item.active .movie-item-poster img{
    transform: scale(1);
}
.movie-item.active :where(.movie-item-title, .movie-item-description, .watch-now-btn, .watch-trailer-btn){
   transform: translateY(0);
   opacity: 1;
}
.watch-trailer-btn:hover{
    color: red;
}
